.flexCol--mobile__menu--inicio{
    justify-content: center;
    align-items: center;
}
.flexCol--mobile__menu--productos{
    justify-content: center;
    align-items: center;
}


.flexRow--home__mobile--baseButtons{
    overflow-x: auto ;
    margin-bottom: 2rem ;
    overscroll-behavior-x: contain ;
    padding-bottom: 1px ;
    flex-wrap: nowrap ;
    display: flex ;
    gap: 20px;
    margin-top: 10px;
}


.flexRowContent--mobile__button--container{
    overflow-x: auto ;
    margin-bottom: 2rem ;
    overscroll-behavior-x: contain ;
    padding-bottom: 1px ;
    flex-wrap: nowrap ;
    display: flex ;
    gap: 20px;
    margin-top: 10px;
}
.flexRowContent--mobile__button--container :global(.vtex-store-link-0-x-link){
    background: linear-gradient(to bottom, rgba(29,254,216,0.7) 0%, rgba(29,254,216,0.9) 100%);
    color: #fff;
    fill: #fff;
    border: none;
    padding: 14px 20px;
    border-bottom: 4px solid #01e7c0;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}
.flexRowContent--mobile__button--container :global(.vtex-store-link-0-x-link):hover{
    border-bottom: 4px solid rgba(29,254,216,0.9);

}
.flexColChild--mobile__menu--cart{
    align-self: center;
}