.galleryItem--normal{
    
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.15);
    flex-basis: auto !important;
  
    /* max-width: 19% !important; */
    
}
.galleryItem--HPPP{
    flex-basis: 27% !important;

}