/* titulo categorias */
/* .wrapper--Texto-Categorias{
    position: relative;
} */

.heading--Texto-Categorias{
    font-family: "Nunito";
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: #5F6A79;
    display: inline-block;
    position: relative;
}
.heading--Texto-Categorias::after{
    content: " ";
    position: absolute;
    width: 35rem;
    height: 3px;
    background-color: #5F6A79;
    top: 0.6em;
    right: -36rem;

}
.heading--Texto-Categorias::before{
    content: " ";
    width: 35rem;
    height: 3px;
    background-color: #5F6A79;
    position: absolute;
    top: 0.6em;
    left: -36rem;
    
   
}



/* seccion newsletter */
.wrapper--text__facebook{
    color: inherit;
    font-family: Helvetica,Arial,sans-serif;
    text-transform: none;
    letter-spacing: normal;
    font-size: 13px;
}

/* seccion contactanos */
.headingLevel1--contactUs--mobile{
    font-size: 1rem;
}

.paragraph--newsletter_title{
    font-family: "Nunito";
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 35px;
    color: #5F6A79;
    display: inline-block;
    position: relative;
}

.paragraph--newsletter_title::after{
    content: " ";
    position: absolute;
    width: 10rem;
    height: 3px;
    background-color: #5F6A79;
    top: 0.6em;
    right: -11rem;

}
.paragraph--newsletter_title::before{
    content: " ";
    width: 10rem;
    height: 3px;
    background-color: #5F6A79;
    position: absolute;
    top: 0.6em;
    left: -11rem;
    
   
}
.paragraph--facebook_title{
    font-family: "Nunito";
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
    color: #5F6A79;
    display: inline-block;
    position: relative;
}

.paragraph--facebook_title::after{
    content: " ";
    position: absolute;
    width: 10rem;
    height: 3px;
    background-color: #5F6A79;
    top: 0.6em;
    right: -11rem;

}
.paragraph--facebook_title::before{
    content: " ";
    width: 10rem;
    height: 3px;
    background-color: #5F6A79;
    position: absolute;
    top: 0.6em;
    left: -11rem;
    
   
}