.flexCol--texto1{
    font-family: 'Nunito', sans-serif;
 
    align-items: center;
}


.flexCol--texto2{
    font-family: 'Nunito', sans-serif;
    align-items: center;
}
.flexCol--texto3{
    font-family: 'Nunito', sans-serif;
    align-items: center;
}

.flexRow--footerOne{
    background: #fff;
    border-bottom: 1px solid #7D7D7D;
    box-shadow: inset 1px 4px 7px -6px;
    color: #5F6A79;
    font-family: "Lato";
}

.flexRow--footerTwo {
  
}

.flexColChild--createdBy{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 86px;
} 

.flexCol--buttonQuantity{
    z-index: 5;
   
}

.flexColChild--buttonQuantity{
    font-size: 14px;
    font-family: "lato";
}

.flexRowContent--containerPCart{
    border-bottom: 1px solid rgba(29,254,216,0.2);
    background: rgba(150,150,150,0.06);
    margin-bottom: 10px;
}
.flexRow--subtotalCart{
    font-size: 14px;
    font-family: "lato";
    display: flex;
    justify-content: center;
    justify-items: end; 
    margin-left: 120px;
    
    
}
.flexRow--BOTONESSSSSSSSSSS{
    display: flex;
    flex-direction: row;
    
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
    margin-bottom: 2rem;
}

.flexRowContent--title_icon{
    align-items: center;

}
.flexRowContent--banner__contact{
    margin-top: 2rem;
}
.flexRow--all_products{
    margin-top: 2rem;
}
/* PDP */
.flexCol--PRRO{
    color: #5F6A79;
    font-family: "Lato";
}
.flexColChild--PRRO :global(.vtex-button){
    background: linear-gradient(to bottom, rgba(29,254,216,0.7) 0%, rgba(29,254,216,0.9) 100%);
    color: #fff;
    fill: #fff;
    border: none;
    padding: 14px 20px;
    border-bottom: 4px solid #01e7c0;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}
.flexColChild--PRRO :global(.vtex-button):hover{
    border-bottom: 4px solid rgba(29,254,216,0.9);

}
.flexColChild--PRRO :global(.vtex-store-components-3-x-shareSocialButton){
    color: #5F6A79;
    background-color: black;
}

/* PDP */
.flexCol--pVitrinaImage{
 border-radius: 0;

 opacity: 2;   
}
.flexCol--pVitrinaImage:hover{
    z-index: 5;
    /* filter: grayscale(30%);*/
    /* filter: blur(5px); */
/* filter: drop-shadow(16px 16px 20px rgb(82, 82, 206)); */
    filter: opacity(50%);
}
.flexCol--pVitrinaInfo{
    background-color: #F7F7F7;
    /* transform: skewY(-5deg); */
}
.flexCol--pVitrinaInfo::before{
  
    content: "";
    /* position: absolute; */
    border-style: solid;
    border-width: 0 0px 28px 275px;
    border-color: #ffffff #ffffff #f7f7f7 #ffffff;
 


    
    /* position: absolute;
    border-style: solid;
    border-width: 0 0px 28px 275px;
    left: 0px;
    top: -28px;
    border-color: transparent transparent #f7f7f7 transparent; */
}
.flexColChild--pVitrinaInfo{
    /* transform: skewY(5deg); */
}
