.image--ACAAAAAAAAA{
    height: 200px;
    width: 200px;
    z-index: 1;
    background-color: #ffffff;
    /* transform: skewY(5deg); */
}
/* .image--ACAAAAAAAAA:hover{
    filter: grayscale(80%);
    background-color: #ffffff;
    z-index: 3;
    
} */
/* .imageWrapper--ACAAAAAAAAA:hover{
    filter: grayscale(80%);
    background-color: #ffffff;
    z-index: 3;
} */
.nameContainer--pVitrinaName{
   
    /* transform: skewY(-5deg);
    margin-top: 1rem; */
}
.productNameContainer--pVitrinaName{
   
    /* transform: skewY(5deg); */
}

.element--containerCard{
    padding: 0;
    background-color: #ffffff;
}

