.flexCol--texto1{
    font-family: 'Nunito', sans-serif;
 
    align-items: center;
}


.flexCol--texto2{
    font-family: 'Nunito', sans-serif;
    align-items: center;
}
.flexCol--texto3{
    font-family: 'Nunito', sans-serif;
    align-items: center;
}

.flexRow--home__section--firstText{

   
}
.flexRow--home__section--firstText{

}

