.wrapper--number{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: right;
}
.paragraph--email{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}  
.container--number{
justify-content: center;
}

.heading--texto1-t{

    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #5F6A79;
    box-sizing: border-box;
    text-align: center;
}

.heading--texto2-t{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #5F6A79;
}
.heading--texto3-t{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #5F6A79;
}

.paragraph--texto1-p{
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    color: #5F6A79;
    
}
.paragraph--texto2-p{
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    color: #5F6A79;
}
.paragraph--texto3-p{
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    color: #5F6A79;
}
.heading--Texto-Categorias{
    font-family: "Nunito";
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 35px;
    color: #5F6A79;
}
.heading--Texto-Categorias::after{
    content: " ";
    
    width: 15rem;
    height: 3px;
    background-color: #5F6A79;

}
.heading--Texto-Categorias::before{
    content: " ";
    width: 15rem;
    height: 3px;
    background-color: #5F6A79;
   
}
.paragraph--lema{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #5F6A79;
}

.heading--titles_footer{
    font-size: 16px;
    font-family: "Nunito";
    letter-spacing: 2px;
    color: inherit;
}

.paragraph--text__footer{
    color: #5F6A79;
    font-family: "Lato";
    font-size: 14px;
}

.paragraph--copyRight{
    color: #5F6A79;
    font-family: "Lato";
    font-size: 14px;
}

.container--copyRight{
    display: flex;
    justify-content: end;
    margin-left: 120px;
    
}

.heading--relatedItems{
    color: #5F6A79;
    font-family: "Lato";
}


.container--minicart_header1{
    justify-content: center;
    font-weight: bold;
    font-family: "Nunito";
    letter-spacing: 2px;
}



.paragraph--mobile__menu--inicio{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #273E5B;
    font-family: "Lato";
    text-decoration: none;
    text-decoration-line: none;
}
.paragraph--mobile__menu--productos{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #273E5B;
    font-family: "Lato";
    text-decoration: none;
    text-decoration-line: none;
}
