
.headerRowBackground--header__menu{
    border-bottom: 1px solid gray;
}
.headerRowBackground--header__info{
    border-bottom: 1px solid gray;
}

.headerRowContainer--header__mobile--logo{
    display: flex;
    justify-content: center;
  
}
